.name {
  font-family: scandia-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 72px;
  text-align: center;
}

.body-text {
  font-family: scandia-web, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  text-align: left;
}

.header-text {
  font-family: scandia-web, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
}

.date-text {
  text-align: center;
  padding-bottom: 10px;
}

.link-text {
  color: #000;
  text-decoration: none;
}

.link-text:hover {
  background-color: #000;
  color: #fff;
  animation: fadeIn 300ms;
  border-radius: 5px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
